*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
vendor.tar
public_build_upload.zip
cookie.txt
public_cookie.txt
login_response.html
public_trade.html
trade_page.html
trade_page_after_login.html
trade_ngrok_page.html
trade_recent_ngrok.txt
trade_recent_response.txt
ngrok-inspector.js
ngrok-run.err
ngrok-run.out
ngrok-stderr.log
ngrok-stdout.log
ngrok-traffic-policy.yml
